

 /** THANK YOU JESUS **/


 *{
    text-align: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 1px black;
    
    /** background-repeat: no-repeat;
    background-blend-mode: luminosity; **/
   }

   
   
   main{
       width: 800px;
       padding: 2%;
      /** background-color: rgba(48, 250, 183, 0.945); **/
      /* background-image: url("back24.jpeg"); */
    background-color: gray;
      background-size: auto;

       margin: auto;
   }

   #title{
    margin: 1% auto 3%;
    
   }
   
   .top-screen{
       display: flex;
       gap: 2%;
       margin: auto;
       
   }
   
   
   .player-1, .player-2 {
       width: calc(100% / 2.3);
       margin: auto;
       border: 5px solid rgba(216, 200, 189, 0.767);
       background-color: rgba(216, 200, 189, 0.767);
       border-radius: 15px;
       line-height: 0.5;
       /**background-color: aquamarine; **/
       /* background-image: url("back29.jpeg"); */
       
       background-blend-mode: darken;
      

   }

   .Lewis-previous-count, .Your-previous-count{
    width: 90%;
     height: 4rem;
     line-height: 1rem;
     margin: auto;
     border-radius: 10px;
     padding: 2%;
     overflow-y: auto;

     }
     


   hr{
    
    width: 60%;
    border: 2px solid rgba(216, 200, 189, 0.767);
    
   }

   @keyframes slide2 {

    0%{margin-left: -10%}
    
    50%{margin-left: 10%}

    100%{margin-left: -10%}

    
    
     }
     
   
            
@keyframes slide {

   0%{margin-left: -25%}
   
   100%{margin-left: 0px}
   
   0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(8600deg);
          }

    }
    
    @keyframes spin {

   0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(3600deg);
          }

    }
.shrink-and-grow {

  animation-name: slide2;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

}
    

   
   .all-balls{
       
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: linear;
    
   }
   
    .selected-ball{
       
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    
   }


   
   
   .balls-set-1 button, .balls-set-2 button, .balls-set-3 button{
       width: 4rem;
       height: 4rem;
       border-radius: 50%;
       color: blue;
       border: none;
       gap: 2%;
       margin: 1%;
       /* background-image: url("back29.jpeg"); */
       background-blend-mode: darken;
       background-color: rgba(216, 200, 189, 0.767);
       opacity: 0.9;
       background-size: cover;
       background-repeat: no-repeat;
       font-size: larger;
       font-weight: bold;
   }

   
   #new-game {
       width: 45%;
       height:auto;
       font-size: large;
       padding: 1%;
       border-radius: 20px;
       border: gray;
       color: black;
       margin: 2% auto;
       /* background-image: url("back29.jpeg"); */
       opacity: 0.9;
       background-color: rgba(216, 200, 189, 0.767);
       background-repeat: no-repeat;

   }

   #new-game:disabled{
    border: 4px solid gray;
    color: rgb(155, 137, 137);
    border-radius: 15px;
    width: 30%;
    padding: 1%;
    font-size:small;
    /* background-image: url("back29.jpeg"); */
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
   }

   #new-game:hover{
   background-color: rgba(216, 200, 189, 0.767);
  
   }

   footer{
    margin-top: 10%;
   }
   

   .fab{
    color: black;
    font-size: large;
    margin-top: 5%;

   }

   .fab:hover{
    color: gray;
   }

   .social-icons{
    display: flex;
    gap: 7%;
    margin: 1% auto 100px;
   }
   
   @media (max-width : 800px) {
       
       main{
       width: 100%;
       margin: 0px;
       box-sizing: border-box;
       }
       
       .balls-set-1 button, .balls-set-2 button, .balls-set-3 button{
       width: 3rem;
       height: 3rem;
       gap: 2%; }

       @keyframes slide {

        0%{margin-left: -50%}
        
        100%{margin-left: 0px}
        
        0% {
                 transform: rotate(0deg);
               }
               100% {
                 transform: rotate(8600deg);
               }
     
         }
         
         @keyframes spin {
     
     
        0% {
                 transform: rotate(0deg);
               }
               100% {
                 transform: rotate(3600deg);
               }
     
         }
     



        }


 /** THANK YOU JESUS **/