

 /** THANK YOU JESUS **/


 *{
    text-align: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
   
    /** background-repeat: no-repeat;
    background-blend-mode: luminosity; **/
   }

  

   .container{
    background-image: url("images/purple2.jpg");
    background-size: cover;
    background-attachment:fixed;
    border-radius: 15px;
    width: fit-content;
    box-sizing: border-box;
    margin: auto;
    
   }

   
   
   main{
       width: 700px;
       padding: 20px 2px;
      /** background-color: rgba(48, 250, 183, 0.945); **/
      
    background-color: rgba(236, 10, 29, 0.616);
    background-blend-mode: luminosity;
  
      color: white;
       border-radius: 15px;
   }

   #title{
    margin: 1% auto 3%;
    color: white;
    text-shadow: 0px 0px 2px black;
    
    
   }
   
   #version {
    font-size:x-small;
    position: absolute;
    padding: 2px;
    
   }


   .top-screen{
       display: flex;
       gap: 2%;
       margin: auto;
       color: black;
       
   }
   
   
   .player-1, .player-2 {
       width: calc(100% / 2.3);
       margin: auto;
       /* border: 5px solid rgba(216, 200, 189, 0.767); */
       background-color:white;
       opacity: 0.95;
       border-radius: 15px;
       line-height: 0.5;
       
       /**background-color: aquamarine; **/
       /* background-image: url("back29.jpeg"); */
       
       background-blend-mode: darken;
      

   }

   .Lewis-previous-count, .Your-previous-count{
    width: 90%;
     height: 4rem;
     line-height: 1rem;
     margin: auto;
     border-radius: 10px;
     padding: 2%;
     overflow-y: auto;

     }
     
     .texts-1{
      
      text-shadow: 0px 0px 3px black;
      padding: 3%;
      min-height: 120px;
      

     }

   hr{
    
    width: 60%;
    border: 2px solid white;
    
   }

   @keyframes slide2 {

    0%{margin-left: -10%}
    
    50%{margin-left: 10%;
      /* font-size: xx-large; */
    }

     100%{margin-left: -10%}  

    /* 0%{font-size:xx-large;}
    
    50%{font-size: large;}

    100%{font-size: xx-large;} */

   

    
    
     }
     
   
            
@keyframes slide {

   0%{margin-left: -25%}
   
   100%{margin-left: 0px}
   
   0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(8600deg);
          }

    }
    
    @keyframes spin {

   0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(3600deg);
          }

    }
.shrink-and-grow {

  animation-name: slide2;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

}
    

   
   .all-balls{
       
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: linear;

   
    
   }
   
    .selected-ball{
       
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    
   }


   
   
   .balls-set-1 button, .balls-set-2 button, .balls-set-3 button{
       width: 4rem;
       height: 4rem;
       border-radius: 50%;
       color: blue;
       border: none;
       gap: 2%;
       margin: 1%;
       /* background-image: url("back29.jpeg"); */
       background-blend-mode: darken;
       background-color:white;
       /* opacity: 0.9; */
       background-size: cover;
       background-repeat: no-repeat;
       font-size: larger;
       font-weight: bold;

       border-bottom: 2px solid black;

       

   }

   
   #new-game {
       width: 45%;
       height:auto;
       font-size: large;
       padding: 1%;
       border-radius: 20px;
       color: white;
       background-color:rgba(236, 10, 29, 0.616);
       border: 3px solid white;
       text-shadow: 0px 0px 1px black;
       margin: 2% auto;
       /* background-image: url("back29.jpeg"); */
       opacity: 0.9;
       
       background-repeat: no-repeat;

   }

   #new-game:disabled{
    
    color: rgba(255, 255, 255, 0.815);
    background-color:rgba(236, 10, 29, 0.281);
    border-radius: 15px;
    width: 30%;
    padding: 1%;
    cursor: not-allowed;
    font-size:small;
    font-weight: bolder;
    border: 2px solid rgba(255, 255, 255, 0.329);
    
    /* background-image: url("back29.jpeg"); */
    opacity: 0.95;
    /* background-size: cover;
    background-repeat: no-repeat; */
   }

   #new-game:disabled:hover{
    color: rgba(255, 255, 255, 0.815);
    background-color:rgba(236, 10, 29, 0.281);
    border-radius: 15px;
    width: 30%;
    padding: 1%;
    cursor: not-allowed;
    font-size:small;
    font-weight: bolder;
    border: 2px solid rgba(255, 255, 255, 0.329);
    
   }

   #new-game:hover{
   background-color: white;
   color:rgba(236, 10, 29, 0.616);
   border: 2px solid rgba(236, 10, 29, 0.616);
   
  
   }

   footer{
    margin-top: 10%;
    text-shadow: 0px 0px 3px black;
   
   }
   

   .fab{
    color: white;
    font-size: larger;
    margin-top: 5%;

   }

   .fab:hover{
    color: black;
   }

   .social-icons{
    display: flex;
    gap: 7%;
    margin: 1% auto 100px;
   }
   
   @media (max-width : 800px) {
       
       main, body,.container{
       width: 100%;
       margin: 0px;
       box-sizing: border-box;
       border: none;
       border-radius: 0px;
       }
       
       
       .balls-set-1 button, .balls-set-2 button, .balls-set-3 button{
       width: 3rem;
       height: 3rem;
       gap: 2%; }

       @keyframes slide {

        0%{margin-left: -50%}
        
        100%{margin-left: 0px}
        
        0% {
                 transform: rotate(0deg);
               }
               100% {
                 transform: rotate(8600deg);
               }
     
         }
         
         @keyframes spin {
     
     
        0% {
                 transform: rotate(0deg);
               }
               100% {
                 transform: rotate(3600deg);
               }
     
         }
     



        }


 /** THANK YOU JESUS **/